/* header {
  display: flex;
  box-shadow: 1px 1px 1px #c2c2c2;
  height: 3rem;
  align-items: center;
  padding: 0 1rem;
} */

.app-content {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
}

.app-content-left {
  /* background-color: purple; */
  box-shadow: 1px 1px 1px #323232;
}
